- id: 1
  code: bktw
  currency: ntd
  deposit: true
  withdraw: true
- id: 2
  code: lbot
  currency: ntd
  deposit: true
  withdraw: true
- id: 3
  code: tacb
  currency: ntd
  deposit: true
  withdraw: true
- id: 4
  code: fcbk
  currency: ntd
  deposit: true
  withdraw: true
- id: 5
  code: hnbk
  currency: ntd
  deposit: true
  withdraw: true
- id: 6
  code: ccbc
  currency: ntd
  deposit: true
  withdraw: true
- id: 7
  code: scsb
  currency: ntd
  deposit: true
  withdraw: true
- id: 8
  code: tpbk
  currency: ntd
  deposit: true
  withdraw: true
- id: 9
  code: uwcb
  currency: ntd
  deposit: true
  withdraw: true
- id: 10
  code: bkao
  currency: ntd
  deposit: true
  withdraw: true
- id: 11
  code: icbc
  currency: ntd
  deposit: true
  withdraw: true
- id: 12
  code: citi
  currency: ntd
  deposit: true
  withdraw: true
- id: 13
  code: anzb
  currency: ntd
  deposit: true
  withdraw: true
- id: 14
  code: ibot
  currency: ntd
  deposit: true
  withdraw: true
- id: 15
  code: mbbt
  currency: ntd
  deposit: true
  withdraw: true
- id: 16
  code: scbl
  currency: ntd
  deposit: true
  withdraw: true
- id: 17
  code: tcbb
  currency: ntd
  deposit: true
  withdraw: true
- id: 18
  code: tnbb
  currency: ntd
  deposit: true
  withdraw: true
- id: 19
  code: hsbc
  currency: ntd
  deposit: true
  withdraw: true
- id: 20
  code: botp
  currency: ntd
  deposit: true
  withdraw: true
- id: 21
  code: htbk
  currency: ntd
  deposit: true
  withdraw: true
- id: 22
  code: mktb
  currency: ntd
  deposit: true
  withdraw: true
- id: 23
  code: suny
  currency: ntd
  deposit: true
  withdraw: true
- id: 24
  code: bbbk
  currency: ntd
  deposit: true
  withdraw: true
- id: 25
  code: cobk
  currency: ntd
  deposit: true
  withdraw: true
- id: 26
  code: ubot
  currency: ntd
  deposit: true
  withdraw: true
- id: 27
  code: fein
  currency: ntd
  deposit: true
  withdraw: true
- id: 28
  code: apbk
  currency: ntd
  deposit: true
  withdraw: true
- id: 29
  code: sino
  currency: ntd
  deposit: true
  withdraw: true
- id: 30
  code: esun
  currency: ntd
  deposit: true
  withdraw: true
- id: 31
  code: cdib
  currency: ntd
  deposit: true
  withdraw: true
- id: 32
  code: dbss
  currency: ntd
  deposit: true
  withdraw: true
- id: 33
  code: tsib
  currency: ntd
  deposit: true
  withdraw: true
- id: 34
  code: ourb
  currency: ntd
  deposit: true
  withdraw: true
- id: 35
  code: jsib
  currency: ntd
  deposit: true
  withdraw: true
- id: 36
  code: enti
  currency: ntd
  deposit: true
  withdraw: true
- id: 37
  code: ctcb
  currency: ntd
  deposit: true
  withdraw: true
- id: 38
  code: post
  currency: ntd
  depost: true
  withdraw: true
